Ceci est projet de classification binaire. Nous disposons de plusieurs jeux de données à exploiter afin de construire un modèle prédictif des résultats des partis politiques aux elections des USA à savoir : 
- Le parti Républicain (1)
- Le parti Démocrate (0) 

Nous utiliserons les données démographiques de la population pour créer un nouveau DataFrame pour le moèle, puis les résultats de l'élection de 2020 pour créer notre target. 

D'autres archives des elections antérieurs nous servirons aussi dans le processus de notre analyse exploratoire.

In [1]:
# Import des bibliothèques 
import pandas as pd 
import numpy as np 
import seaborn as sns 
import matplotlib as plt

In [6]:
# Charger les Datasets 

Data_1 = "C:/Users/HP PROBOOK/Documents/Projet Datagong/Data education.csv"
Data_2 = "C:/Users/HP PROBOOK/Documents/Projet Datagong/Data population estimate.csv"
Data_3 = "C:/Users/HP PROBOOK/Documents/Projet Datagong/Data poverty estimate.csv"
Data_4 = "C:/Users/HP PROBOOK/Documents/Projet Datagong/Data Unemployment.xls - Unemployment Med HH Income.csv"

In [9]:
# Charger les fichier dans un DataFrame 

df1 = pd.read_csv("C:/Users/HP PROBOOK/Documents/Projet Datagong/Data education.csv") 
df2 = pd.read_csv("C:/Users/HP PROBOOK/Documents/Projet Datagong/Data population estimate.csv") 
df3 = pd.read_csv("C:/Users/HP PROBOOK/Documents/Projet Datagong/Data poverty estimate.csv") 
df4 = pd.read_csv("C:/Users/HP PROBOOK/Documents/Projet Datagong/Data Unemployment.xls - Unemployment Med HH Income.csv")

In [11]:
# Supprimer les espaces autour des noms de colonnes pour chaque DataFrame 
df1.columns = df1.columns.str.strip() 
df2.columns = df2.columns.str.strip() 
df3.columns = df3.columns.str.strip() 
df4.columns = df4.columns.str.strip()

In [15]:

# Fusionner les DataFrames avec des suffixes personnalisés 
fusion_1 = pd.merge(df1, df2, on=['FIPS Code', 'State', 'Area name'], suffixes=('_df1', '_df2')) 
fusion_2 = pd.merge(fusion_1, df3, on=['FIPS Code', 'State', 'Area name'], suffixes=('_df1df2', '_df3'))
Data_demo = pd.merge(fusion_2, df4, on=['FIPS Code', 'State', 'Area name'], suffixes=('_df1df2df3', '_df4'))

# Afficher les premières lignes du DataFrame fusionné

Data_demo.head()

,FIPS Code,State,Area name,Rural-urban Continuum Code 2003_df1,2003 Urban Influence Code,2013 Rural-urban Continuum Code,2013 Urban Influence Code,"Less than a high school diploma, 1970","High school diploma only, 1970","Some college (1-3 years), 1970",...,Civilian_labor_force_2018,Employed_2018,Unemployed_2018,Unemployment_rate_2018,Civilian_labor_force_2019,Employed_2019,Unemployed_2019,Unemployment_rate_2019,Median_Household_Income_2019,Med_HH_Income_Percent_of_State_Total_2019
0,0,US,United States,NaN,NaN,NaN,NaN,52 373 312,34 158 051,11 650 730,...,161 389 026,155 102 319,6 286 707,"3,9",163 100 055,157 115 247,5 984 808,"3,7",65 712,NaN
1,1000,AL,Alabama,NaN,NaN,NaN,NaN,1 062 306,468 269,136 287,...,2 216 627,2 130 845,85 782,"3,9",2 241 747,2 174 483,67 264,3,51 771,100
2,2000,AK,Alaska,NaN,NaN,NaN,NaN,44 994,50 820,20 052,...,352 662,329 901,22 761,"6,5",347 779,326 430,21 349,"6,1",77 203,100
3,4000,AZ,Arizona,NaN,NaN,NaN,NaN,383 873,289 781,127 063,...,3 422 583,3 260 518,162 065,"4,7",3 551 260,3 384 504,166 756,"4,7",62 027,100
4,5000,AR,Arkansas,NaN,NaN,NaN,NaN,635 149,271 150,80 835,...,1 353 305,1 303 995,49 310,"3,6",1 362 642,1 314 290,48 352,"3,5",49 020,100